body {
}
header {
    background-color: #E3E3DD;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    padding-bottom: 10px;
}
h1 {
    margin-right: 515px;
    font-family: 'Trirong', serif;
    letter-spacing: 2px;
}
p {
    font-family: 'Ovo', serif;
    line-height: 1.5;
    font-size: 1.1em;
}
h3 {
    font-family: 'Lora', serif;
    font-size: 1.5em;
}
h4 {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    margin: 0;
}
#description {
    margin:auto;
    width:60%;
    margin-bottom: 30px;
}

#description p {
    text-align: center;
}
#hero-image {
}
#hero-image img {
    margin:auto;
    width: 70%;
    margin-bottom: 25px;
}
h2 {
    text-align: center;
    font-size: 4em;
    margin: auto;
    font-family: 'Lora', serif;
}
header img {
    margin-right: 20px;
    height: 40px;
}

#main-nav {
    margin-right: 50px;
    font-family: 'Lora', serif;
    font-weight: bold;
}
#main-nav a,
main-nav a:visited {
    text-decoration: none;
    color: #2B2B2B;
}

    #main-nav a:hover,
    #main-nav a:focus,
    #main-nav a:active {
        text-decoration: none;
        color: #627A70;
    }
#page-content {
    position: relative;
    top: 120px;
    margin-left: 15%;
    margin-right: 15%;
    float: none;
}
#main img {
    height: 600px;

}
#main p {
    width: 80%;
}
#right-panel {
    float: right;
    width: 25%;
    border: 3px solid;
    padding: 10px;
}
#recipe {
    width: 70%;
    background-color: #F6F6F4;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

#recipe h3{
    align-self: center;
    font-family: 'Lora', serif;
}
.img {
    height: 300px;
}
#top-image {
    margin: auto;
    width: 30%;
    align-self: center;
}
#video img {
    margin-top: 40px;
    height:  600px;
    margin-bottom: 50px;
}
footer {
    background-color: #D1D1C7;
    width: 100%;
    height: 40px;
    position: relative;
    bottom: -100px;
}
#recipe-link {
    font-family: 'Lora', serif;
    text-decoration: none;
}
#recipe li {
    font-family: 'Ovo', serif;
    line-height: 1.5;
    font-size: 1.1em;
}
#main li {
    font-family: 'Ovo', serif;
    line-height: 1.5;
    font-size: 1.1em;
}

