h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6em;
    font-weight: bold;
    color: #2B2B2B;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:1em;
    text-align: center;
    z-index: 99;

}
h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #2B2B2B;
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: .5em;
    text-align: center;
    z-index: 99;
    margin-bottom: 6em;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #2B2B2B;
    margin-left: 20px;
    margin-top:10px;
    margin-bottom:10px;
}
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size:2em;
    color: #2B2B2B;
    text-align:center;
    padding-top:10px;

}
body {
    width: 100%;
}
#main-nav {
    font-size: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:bold;
    color: #2B2B2B;
    margin-top: 0;
    margin-left: 0;
    position: fixed;
    background-color: #D8DEDB;
    width: 100%;
    z-index: 100;
    text-align: center;
}
#main-nav ul {
    padding: 0px;
}

#main-nav li {
    display: inline;
	padding: 0px 10px 0px;

}
#main-nav a,
main-nav a:visited {
    text-decoration: none;
    color: #2B2B2B;
}
#main-nav a:hover,
#main-nav a:focus,
#main-nav a:active {
    text-decoration: none;
    color: #627A70;
}
#logo {
    width: 100%;
    margin:0auto;
    height:auto;
}
#logo img {
    position: absolute;
    top:9em;
    left: 35%;
    max-width: 40%;
    z-index:1;
    
}
#gallery {
    clear:both;
    background-color: #DBDCDC;
    margin-top: 50px;
    width: 100%;
}
.gallery-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gallery-img img {
    max-width: 30%;
    height: 300px;
    object-fit: cover;
    padding: 20px;

}
.center-link {
    text-align: center;
    width: .5em;
    font-size: 2em;
    width:auto;
}
.center-link a{
    color:white;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size:1em;
    background-color:#627A70;
    background-size: 20px;
    border-radius:20px;

}
.centerlink a:visited {
    text-decoration: none;
}

.center-link a:hover,
.center-link a:focus,
.center-link a:active {
    text-decoration: none;
    color: #2B2B2B;
}

#about-img img {
    float: left;
    width: 50%;
    object-fit: cover;
    padding: 20px;
    padding-bottom: 30px;
}

article p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #2B2B2B;
    font-size: 1.5em;
    text-indent:25px;
}

.blog {
    clear: both;
}
.blog-img img{
    float: right;
    width: 50%;
    object-fit: cover;
    padding: 20px;
}
section {
    padding: 25px;
}
